In [1]:
import pandas as pd;

In [2]:
doelpunten_df = pd.read_csv('./csv/lectoren_bestanden/doelpunten.csv',sep=';',names=['seizoen', 'dag', 'datum', 'tijd', 'id_match', 'thuisploeg_stamnummer',
       'thuisploeg', 'uitploeg_stamnummer', 'uitploeg', 'goal_time',
       'real_time_goal', 'goal_team_stamnummer', 'goal_team_naam',
       'stand_thuis', 'stand_uit'])
klassement_df = pd.read_csv('./csv/lectoren_bestanden/klassement.csv',sep=';',names=['seizoen', 'speeldag', 'stand', 'id_ploeg', 'naam_ploeg',
       'aantal_wedstrijden', 'aantal_gewonnen', 'aantal_gelijk',
       'aantal_verloren', 'doelpunten_voor', 'doelpunten_tegen', 'verschil',
       'punten_2p_links', 'punten_2p_rechts', 'punten_3p'])
wedstrijden_df = pd.read_csv('./csv/lectoren_bestanden/wedstrijden.csv',sep=';',names=['seizoen', 'speeldag', 'datum', 'tijd', 'id_match',
       'thuisploeg_stamnummer', 'thuisploeg', 'uitploeg_stamnummer',
       'uitploeg', 'doelpunten_thuisploeg', 'doelpunten_uitploeg'])

In [3]:


df_total = pd.merge(wedstrijden_df,doelpunten_df,on=['id_match','datum','seizoen','tijd','thuisploeg','uitploeg','uitploeg_stamnummer','thuisploeg_stamnummer'])
df_total

,seizoen,speeldag,datum,tijd,id_match,thuisploeg_stamnummer,thuisploeg,uitploeg_stamnummer,uitploeg,doelpunten_thuisploeg,doelpunten_uitploeg,dag,goal_time,real_time_goal,goal_team_stamnummer,goal_team_naam,stand_thuis,stand_uit
0,1960,1,1960-09-04,15:00,4008203,373,Sint-Truidense VV,16,Standard Luik,0,2,1,14,15:14,16,Standard Luik,0,1
1,1960,1,1960-09-04,15:00,4008203,373,Sint-Truidense VV,16,Standard Luik,0,2,1,79,16:34,16,Standard Luik,0,2
2,1960,1,1960-09-04,15:00,4008204,90,Eendracht Aalst,1,Royal Antwerp FC,3,2,1,18,15:18,90,Eendracht Aalst,1,1
3,1960,1,1960-09-04,15:00,4008204,90,Eendracht Aalst,1,Royal Antwerp FC,3,2,1,26,15:26,90,Eendracht Aalst,2,1
4,1960,1,1960-09-04,15:00,4008204,90,Eendracht Aalst,1,Royal Antwerp FC,3,2,1,63,16:18,90,Eendracht Aalst,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41772,2023,29,2024-03-10,16:00,4098835,3,Club Brugge,18,Oud-Heverlee Leuven,3,1,29,64,17:19,3,Club Brugge,3,1
41773,2023,29,2024-03-10,16:00,4098835,3,Club Brugge,18,Oud-Heverlee Leuven,3,1,29,31,16:31,18,Oud-Heverlee Leuven,0,1
41774,2023,29,2024-03-10,18:30,4098839,10,Union Saint-Gilloise,7,KAA Gent,1,1,29,53,19:38,7,KAA Gent,0,1
41775,2023,29,2024-03-10,18:30,4098839,10,Union Saint-Gilloise,7,KAA Gent,1,1,29,65,19:50,10,Union Saint-Gilloise,1,1
41776,2023,29,2024-03-10,19:15,4098842,4276,KAS Eupen,373,Sint-Truidense VV,1,0,29,10,19:25,4276,KAS Eupen,1,0

In [4]:
rows_home = df_total[['thuisploeg', 'thuisploeg_stamnummer']].rename(columns={'thuisploeg': 'TeamName', 'thuisploeg_stamnummer': 'StamNumber'})
rows_away = df_total[['uitploeg', 'uitploeg_stamnummer']].rename(columns={'uitploeg': 'TeamName', 'uitploeg_stamnummer': 'StamNumber'})

dim_team_df = pd.concat([rows_home,rows_away])
dim_team_df = dim_team_df.drop_duplicates()
dim_team_df = dim_team_df.reset_index(drop=True)
dim_team_df['TeamKey'] = dim_team_df.index
dim_team_df

                  TeamName  StamNumber  TeamKey
0        Sint-Truidense VV         373        0
1          Eendracht Aalst          90        1
2        Olympic Charleroi         246        2
3                Beerschot          13        3
4              Club Brugge           3        4
5                 RFC Luik           4        5
6       Waterschei SV Thor         553        6
7            Standard Luik          16        7
8           RSC Anderlecht          35        8
9         Royal Antwerp FC           1        9
10                KAA Gent           7       10
11               Lierse SK          30       11
12           Cercle Brugge          12       12
13    Union Saint-Gilloise          10       13
14               KFC Diest          41       14
15             Beringen FC         522       15
16           Berchem Sport          28       16
17     Daring Club Brussel           2       17
18            KFC Turnhout         148       18
19             KV Mechelen          25       19
20             RFC Tilleur          21       20
21           RWD Molenbeek          47       21
22             KSV Waregem        4451       22
23          R Charleroi SC          22       23
24             KSK Beveren        2300       24
25          RCC Schaerbeek          55       25
26          AS Oostende KM          53       26
27             KSC Lokeren         282       27
28                KRC Genk         322       28
29             La Louviere          94       29
30         Racing Mechelen          24       30
31             KV Kortrijk          19       31
32                 Boom FC          58       32
33             KSC Hasselt          37       33
34            KSK Tongeren          54       34
35             RFC Seraing          17       35
36      Racing Jet Brussel        4549       36
37      K. Sint-Niklase SK         221       37
38                Germinal        3530       38
39         KFC Lommelse SK        1986       39
40             KV Oostende          31       40
41           KRC Harelbeke        1615       41
42      Excelsior Mouscron         224       42
43            KVC Westerlo        2024       43
44  KFC Verbroedering Geel         395       44
45               RAEC Mons          44       45
46          Heusden-Zolder        2614       46
47             FC Brussels        1936       47
48           KSV Roeselare         134       48
49        SV Zulte Waregem        5381       49
50           FCV Dender EH        3900       50
51              AFC Tubize        5632       51
52               KAS Eupen        4276       52
53     Oud-Heverlee Leuven          18       53
54        Waasland-Beveren        4068       54
55               Moeskroen         216       55
56                    RWDM        5479       56
57              Verviétois          33       57

In [29]:
import pandas as pd



dim_date_df = pd.DataFrame()
""" 
dim_date_df['FullDate'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d')
dim_date_df['Season'] = wedstrijden_df['seizoen']
dim_date_df['PlayDay'] = wedstrijden_df['speeldag']
dim_date_df = dim_date_df.drop_duplicates()
dim_date_df = dim_date_df.reset_index(drop=True)
dim_date_df['DateKey'] = dim_date_df.index
dim_date_df
 """

import pandas as pd
import holidays

def create_dim_date(start_date, end_date):
    '''
    Create Dimension Date in Pandas
    
    :return df_date : DataFrame
    '''
    from pandas.tseries.offsets import MonthEnd, QuarterEnd

    # Construct DIM Date Dataframe
    df_date = pd.DataFrame({"Date": pd.date_range(start=f'{start_date}', end=f'{end_date}', freq='D')})

    def get_end_of_month(pd_date):
        if pd_date.is_month_end == True:
            return pd_date
        else:
            return pd_date + MonthEnd(1)

    def get_end_of_quarter(pd_date):
        if pd_date.is_quarter_end == True:
            return pd_date
        else:
            return pd_date + QuarterEnd(1)

    # Add in attributes
    df_date["Day"] = df_date.Date.dt.day_name()
    df_date["Week"] = df_date.Date.dt.isocalendar().week
    df_date["Month"] = df_date.Date.dt.month
    df_date["Year"] = df_date.Date.dt.year
    return df_date

dim_date_df = create_dim_date(1960,2025)
dim_date_df

,Date,Day,Week,Month,Quarter,Year,Fiscal_Year,EndOfMonth,EOM_YN,EndOfQuarter,EOQ_YN
0,1960-01-01,Friday,53,1,1,1960,1960,1960-01-31,False,1960-03-31,False
1,1960-01-02,Saturday,53,1,1,1960,1960,1960-01-31,False,1960-03-31,False
2,1960-01-03,Sunday,53,1,1,1960,1960,1960-01-31,False,1960-03-31,False
3,1960-01-04,Monday,1,1,1,1960,1960,1960-01-31,False,1960-03-31,False
4,1960-01-05,Tuesday,1,1,1,1960,1960,1960-01-31,False,1960-03-31,False
...,...,...,...,...,...,...,...,...,...,...,...
23738,2024-12-28,Saturday,52,12,4,2024,2025,2024-12-31,False,2024-12-31,False
23739,2024-12-29,Sunday,52,12,4,2024,2025,2024-12-31,False,2024-12-31,False
23740,2024-12-30,Monday,1,12,4,2024,2025,2024-12-31,False,2024-12-31,False
23741,2024-12-31,Tuesday,1,12,4,2024,2025,2024-12-31,True,2024-12-31,True
23742,2025-01-01,Wednesday,1,1,1,2025,2025,2025-01-31,False,2025-03-31,False

In [24]:
import pandas as pd

dim_time_df = pd.DataFrame()

for j in range(0, 24):
    for i in range(0, 60):
        new_time = pd.DataFrame({'Hour': [j], 'Minute': [i]})
        dim_time_df = pd.concat([dim_time_df, new_time])

dim_time_df.reset_index(drop=True, inplace=True)
dim_time_df['TimeKey'] = dim_time_df['Hour'] * 100 + dim_time_df['Minute']

dim_time_df

      Hour  Minute  TimeKey
0        0       0        0
1        0       1        1
2        0       2        2
3        0       3        3
4        0       4        4
...    ...     ...      ...
1435    23      55     2355
1436    23      56     2356
1437    23      57     2357
1438    23      58     2358
1439    23      59     2359

[1440 rows x 3 columns]

In [25]:
import pandas as pd

dim_standings_df = klassement_df[['speeldag', 'seizoen', 'id_ploeg', 'stand', 'punten_3p', 'aantal_gewonnen', 'aantal_gelijk', 'aantal_verloren', 'verschil']]

temp_df = wedstrijden_df.merge(klassement_df,on=['seizoen','speeldag'])
temp_df['datum'] = pd.to_datetime(temp_df['datum'])
temp_df = temp_df.groupby(['seizoen','speeldag'])['datum'].max()
dim_standings_df = dim_standings_df.rename(columns={'speeldag':'StandingsPlayday','seizoen':'StandingsYear','stand':'Ranking','punten_3p':'Points','aantal_gewonnen':'Wins','aantal_gelijk':'Ties','aantal_verloren':'Losses','verschil':'GoalDifference','id_ploeg':'StamNumber'})
dim_standings_df['StandingsDayKey'] = dim_standings_df.index
dim_standings_df = pd.merge(dim_standings_df, temp_df, left_on=['StandingsYear', 'StandingsPlayday'], right_on=['seizoen', 'speeldag'])
dim_standings_df = pd.merge(dim_standings_df,dim_date_df[['DateKey','FullDate']],left_on='datum',right_on='FullDate',)
dim_standings_df = dim_standings_df.drop(columns=['datum','FullDate','StandingsPlayday','StandingsYear'])
dim_standings_df

,StamNumber,Ranking,Points,Wins,Ties,Losses,GoalDifference,StandingsDayKey,DateKey
0,35,1,3,1,0,0,7,0,0
1,553,2,3,1,0,0,5,1,0
2,16,3,3,1,0,0,2,2,0
3,90,4,3,1,0,0,1,3,0
4,2,5,3,1,0,0,1,4,0
...,...,...,...,...,...,...,...,...,...
37062,22,12,29,7,8,14,-17,35893,4833
37063,18,13,26,6,8,15,-14,35894,4833
37064,4276,14,24,7,3,19,-30,35895,4833
37065,5479,15,23,5,8,16,-32,35896,4833
37066,19,16,21,5,6,18,-36,35897,4833

In [8]:
import numpy as np

dim_goal_df = pd.DataFrame()
dim_goal_df = doelpunten_df
dim_goal_df = dim_goal_df.rename(columns={'goal_time':'GoalTimeRelative','id_match':'MatchKey'})
dim_goal_df['IsHomeTeamGoal'] = np.where(doelpunten_df['goal_team_stamnummer'] == doelpunten_df['thuisploeg_stamnummer'], 1, 0)
dim_goal_df = dim_goal_df.drop(columns=['seizoen','dag','datum','tijd','thuisploeg_stamnummer','thuisploeg','uitploeg_stamnummer','uitploeg','goal_team_stamnummer','goal_team_naam','stand_thuis','stand_uit','real_time_goal'])
dim_goal_df = dim_goal_df.drop_duplicates()
dim_goal_df = dim_goal_df.reset_index(drop=True)
dim_goal_df['GoalKey'] = dim_goal_df.index


dim_goal_df

       MatchKey  GoalTimeRelative  IsHomeTeamGoal  GoalKey
0       4008203                14               0        0
1       4008203                79               0        1
2       4008204                18               1        2
3       4008204                26               1        3
4       4008204                63               1        4
...         ...               ...             ...      ...
41749   4098835                64               1    41749
41750   4098835                31               0    41750
41751   4098839                53               0    41751
41752   4098839                65               1    41752
41753   4098842                10               1    41753

[41754 rows x 4 columns]

In [9]:
fact_table_match = pd.DataFrame()
fact_table_match = wedstrijden_df
fact_table_match['datum'] = pd.to_datetime(fact_table_match['datum'])
fact_table_match = fact_table_match.merge(dim_date_df,left_on='datum',right_on='FullDate')

dim_time_df['Time'] = dim_time_df['Hour'].astype(str).str.zfill(2) + ':' + dim_time_df['Minute'].astype(str).str.zfill(2)
fact_table_match = fact_table_match.merge(dim_time_df,left_on='tijd',right_on='Time')
dim_time_df.drop(columns='Time')

fact_table_match = fact_table_match.merge(dim_team_df,left_on='thuisploeg_stamnummer',right_on='StamNumber')
fact_table_match = fact_table_match.rename(columns={'TeamKey':'HomeTeamKey'})
fact_table_match = fact_table_match.drop(columns=['TeamName','StamNumber'])

fact_table_match = fact_table_match.merge(dim_team_df,left_on='uitploeg_stamnummer',right_on='StamNumber')
fact_table_match = fact_table_match.rename(columns={'TeamKey':'AwayTeamKey'})
fact_table_match = fact_table_match.drop(columns=['TeamName','StamNumber'])


fact_table_match = fact_table_match.drop(columns=['datum','thuisploeg','uitploeg','FullDate','Hour','Minute','Time','tijd','thuisploeg_stamnummer','uitploeg_stamnummer','doelpunten_thuisploeg','doelpunten_uitploeg','seizoen','speeldag','Season','PlayDay'])

fact_table_match = fact_table_match.rename(columns={'id_match':'MatchKey'})

dim_goal_df = dim_goal_df.drop_duplicates()
dim_goal_df = dim_goal_df.reset_index(drop=True)

fact_table_match

       MatchKey  DateKey  TimeKey  HomeTeamKey  AwayTeamKey
0       4008203        0        0            0            7
1       4008597       67        0            0            7
2       4008685       82        0            0            7
3       4009067      148        0            0            7
4       4009307      197        0            0            7
...         ...      ...      ...          ...          ...
18031    910901     3439        8           43           51
18032    911092     3508        8           45           51
18033    910915     3445       24           48           51
18034    910872     3430        8           49           51
18035    911020     3482        8           50           51

[18036 rows x 5 columns]

In [10]:
fact_table_bet = pd.DataFrame()

In [11]:
dim_team_df.to_csv('csv/bulk_voor_sql/dim_team.csv',index=False)
dim_date_df.to_csv('csv/bulk_voor_sql/dim_date.csv',index=False)
dim_time_df.to_csv('csv/bulk_voor_sql/dim_time.csv',index=False)
dim_standings_df.to_csv('csv/bulk_voor_sql/dim_standings.csv',index=False)
fact_table_match.to_csv('csv/bulk_voor_sql/fact_match.csv',index=False)
dim_goal_df.to_csv('csv/bulk_voor_sql/dim_goal.csv',index=False)
#fact_table_bet.to_csv('csv/bulk_voor_sql/fact_bet.csv',index=False)