In [28]:
import pandas as pd;

In [29]:
doelpunten_df = pd.read_csv('./csv/doelpunten.csv',sep=';',names=['seizoen', 'dag', 'datum', 'tijd', 'id_match', 'thuisploeg_stamnummer',
       'thuisploeg', 'uitploeg', 'uitploeg_stamnummer', 'goal_time',
       'real_time_goal', 'goal_team_naam', 'goal_team_stamnummer',
       'stand_thuis', 'stand_uit'])
klassement_df = pd.read_csv('./csv/klassement.csv',sep=';',names=['seizoen', 'speeldag', 'stand', 'id_ploeg', 'naam_ploeg',
       'aantal_wedstrijden', 'aantal_gewonnen', 'aantal_gelijk',
       'aantal_verloren', 'doelpunten_voor', 'doelpunten_tegen', 'verschil',
       'punten_2p_links', 'punten_2p_rechts', 'punten_3p'])
wedstrijden_df = pd.read_csv('./csv/wedstrijden.csv',sep=';',names=['seizoen', 'speeldag', 'datum', 'tijd', 'id_match',
       'thuisploeg_stamnummer', 'thuisploeg', 'uitploeg_stamnummer',
       'uitploeg', 'doelpunten_thuisploeg', 'doelpunten_uitploeg'])

In [30]:
wedstrijden_df.columns
df_total = pd.merge(wedstrijden_df,doelpunten_df,on=['id_match','datum','seizoen','tijd','thuisploeg','uitploeg','uitploeg_stamnummer','thuisploeg_stamnummer'])
df_total

,seizoen,speeldag,datum,tijd,id_match,thuisploeg_stamnummer,thuisploeg,uitploeg_stamnummer,uitploeg,doelpunten_thuisploeg,doelpunten_uitploeg,dag,goal_time,real_time_goal,goal_team_naam,goal_team_stamnummer,stand_thuis,stand_uit
0,2023,1,2023-07-28,20:45,4093105,10,Union Saint-Gilloise,35,RSC Anderlecht,2,0,1,30,21:15,Union Saint-Gilloise,10,1,0
1,2023,1,2023-07-28,20:45,4093105,10,Union Saint-Gilloise,35,RSC Anderlecht,2,0,1,98,22:23,Union Saint-Gilloise,10,2,0
2,2023,1,2023-07-29,16:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1,20,16:20,KAS Eupen,4276,1,0
3,2023,1,2023-07-29,16:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1,55,16:55,KAS Eupen,4276,2,0
4,2023,1,2023-07-29,16:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1,69,17:09,KVC Westerlo,2024,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41921,1960,2,1960-09-11,15:00,4008213,1,Royal Antwerp FC,2,Daring Club Brussel,2,3,2,87,16:27,Royal Antwerp FC,1,2,3
41922,1960,2,1960-09-11,15:00,4008214,7,KAA Gent,13,Beerschot,3,0,2,14,15:14,KAA Gent,7,1,0
41923,1960,2,1960-09-11,15:00,4008214,7,KAA Gent,13,Beerschot,3,0,2,52,15:52,KAA Gent,7,2,0
41924,1960,2,1960-09-11,15:00,4008214,7,KAA Gent,13,Beerschot,3,0,2,82,16:22,KAA Gent,7,3,0
41925,1960,3,1960-09-18,15:00,4008226,553,Waterschei SV Thor,4,RFC Luik,0,1,3,65,16:05,RFC Luik,4,0,1

In [31]:
rows_home = df_total[['thuisploeg', 'thuisploeg_stamnummer']].rename(columns={'thuisploeg': 'TeamName', 'thuisploeg_stamnummer': 'StamNumber'})
rows_away = df_total[['uitploeg', 'uitploeg_stamnummer']].rename(columns={'uitploeg': 'TeamName', 'uitploeg_stamnummer': 'StamNumber'})

dim_team_df = pd.concat([rows_home,rows_away])
dim_team_df = dim_team_df.drop_duplicates()
dim_team_df = dim_team_df.reset_index(drop=True)
dim_team_df['TeamKey'] = dim_team_df.index
dim_team_df

                  TeamName  StamNumber  TeamKey
0     Union Saint-Gilloise          10        0
1                KAS Eupen        4276        1
2           R Charleroi SC          22        2
3            RWD Molenbeek          47        3
4         Royal Antwerp FC           1        4
5                 KAA Gent           7        5
6              Club Brugge           3        6
7        Sint-Truidense VV         373        7
8            Standard Luik          16        8
9                 KRC Genk         322        9
10           Cercle Brugge          12       10
11     Oud-Heverlee Leuven          18       11
12          RSC Anderlecht          35       12
13             KV Mechelen          25       13
14            KVC Westerlo        2024       14
15             KV Kortrijk          19       15
16        SV Zulte Waregem        5381       16
17             KV Oostende          31       17
18             RFC Seraing          17       18
19               Beerschot          13       19
20               Moeskroen         216       20
21        Waasland-Beveren        4068       21
22             KSC Lokeren         282       22
23               Lierse SK          30       23
24               RAEC Mons          44       24
25             KSK Beveren        2300       25
26                Germinal        3530       26
27           KSV Roeselare         134       27
28              AFC Tubize        5632       28
29           FCV Dender EH        3900       29
30      Excelsior Mouscron         224       30
31             FC Brussels        1936       31
32             La Louviere          94       32
33          Heusden-Zolder        2614       33
34         KFC Lommelse SK        1986       34
35         Eendracht Aalst          90       35
36           KRC Harelbeke        1615       36
37  KFC Verbroedering Geel         395       37
38             KSV Waregem        4451       38
39                RFC Luik           4       39
40                 Boom FC          58       40
41         Racing Mechelen          24       41
42      Racing Jet Brussel        4549       42
43           Berchem Sport          28       43
44      Waterschei SV Thor         553       44
45      K. Sint-Niklase SK         221       45
46             Beringen FC         522       46
47            KSK Tongeren          54       47
48             KSC Hasselt          37       48
49          AS Oostende KM          53       49
50               KFC Diest          41       50
51       Olympic Charleroi         246       51
52          RCC Schaerbeek          55       52
53     Daring Club Brussel           2       53
54             RFC Tilleur          21       54
55            KFC Turnhout         148       55
56              Verviétois          33       56

In [32]:
import pandas as pd


dim_date_df = pd.DataFrame()
dim_date_df['FullDate'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d')
dim_date_df['Year'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.year
dim_date_df['Quarter'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.quarter
dim_date_df['Month'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.month
dim_date_df['Day'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.day

dim_date_df = dim_date_df.drop_duplicates()
dim_date_df = dim_date_df.reset_index(drop=True)
dim_date_df['DateKey'] = dim_date_df.index
dim_date_df

       FullDate  Year  Quarter  Month  Day  DateKey
0    2023-07-28  2023        3      7   28        0
1    2023-07-29  2023        3      7   29        1
2    2023-07-30  2023        3      7   30        2
3    2023-08-04  2023        3      8    4        3
4    2023-08-05  2023        3      8    5        4
...         ...   ...      ...    ...  ...      ...
4780 1961-04-09  1961        2      4    9     4780
4781 1961-04-16  1961        2      4   16     4781
4782 1961-04-23  1961        2      4   23     4782
4783 1961-04-30  1961        2      4   30     4783
4784 1961-05-07  1961        2      5    7     4784

[4785 rows x 6 columns]

In [33]:
dim_time_df = pd.DataFrame()
dim_time_df['Hour'] = pd.to_datetime(wedstrijden_df['tijd'], format="%H:%M").dt.hour
dim_time_df['Minute'] = pd.to_datetime(wedstrijden_df['tijd'], format="%H:%M").dt.minute

dim_time_df = dim_time_df.drop_duplicates()
dim_time_df = dim_time_df.reset_index(drop=True)
dim_time_df['TimeKey'] = dim_time_df.index
dim_time_df

    Hour  Minute  TimeKey
0     20      45        0
1     16       0        1
2     18      15        2
3     13      30        3
4     18      30        4
5     19      15        5
6     20      30        6
7     18      45        7
8     21       0        8
9     20       0        9
10    16      15       10
11    16      30       11
12    19       0       12
13    17       0       13
14    14       0       14
15    18       0       15
16    14      30       16
17    15       0       17
18    15      30       18
19    13       0       19
20    21      30       20
21    19      30       21
22    20      15       22
23    13      15       23
24     0       0       24
25    17      30       25
26    17      45       26
27    17      15       27
28    14      45       28

In [34]:
import pandas as pd

dim_standings_df = klassement_df[['speeldag', 'seizoen', 'id_ploeg', 'stand', 'punten_3p', 'aantal_gewonnen', 'aantal_gelijk', 'aantal_verloren', 'verschil']]

temp_df = wedstrijden_df.merge(klassement_df,on=['seizoen','speeldag'])
temp_df['datum'] = pd.to_datetime(temp_df['datum'])
temp_df = temp_df.groupby(['seizoen','speeldag'])['datum'].max()
dim_standings_df = dim_standings_df.rename(columns={'speeldag':'StandingsPlayday','seizoen':'StandingsYear','stand':'Ranking','punten_3p':'Points','aantal_gewonnen':'Wins','aantal_gelijk':'Ties','aantal_verloren':'Losses','verschil':'GoalDifference','id_ploeg':'StamNumber'})
dim_standings_df['StandingsDayKey'] = dim_standings_df.index
dim_standings_df = pd.merge(dim_standings_df, temp_df, left_on=['StandingsYear', 'StandingsPlayday'], right_on=['seizoen', 'speeldag'])
dim_standings_df = pd.merge(dim_standings_df,dim_date_df[['DateKey','FullDate']],left_on='datum',right_on='FullDate',)
dim_standings_df = dim_standings_df.drop(columns=['datum','FullDate'])
dim_standings_df

,StandingsPlayday,StandingsYear,StamNumber,Ranking,Points,Wins,Ties,Losses,GoalDifference,StandingsDayKey,DateKey
0,1,2023,322,1,3,1,0,0,4,0,2
1,1,2023,10,2,3,1,0,0,2,1,2
2,1,2023,7,3,3,1,0,0,1,2,2
3,1,2023,373,3,3,1,0,0,1,3,2
4,1,2023,1,3,3,1,0,0,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...
35923,30,1960,90,12,37,9,10,11,-16,35923,4784
35924,30,1960,246,13,32,6,14,10,-15,35924,4784
35925,30,1960,10,14,33,10,3,17,-16,35925,4784
35926,30,1960,33,15,24,5,9,16,-24,35926,4784
35927,30,1960,3434,16,24,6,6,18,-28,35927,4784

In [35]:
dim_goal_df = pd.DataFrame()
dim_goal_df['GoalTimeRelative'] = doelpunten_df['goal_time']
dim_goal_df = dim_goal_df.drop_duplicates()
dim_goal_df = dim_goal_df.reset_index(drop=True)
dim_goal_df['GoalKey'] = dim_goal_df.index


dim_goal_df

     GoalTimeRelative  GoalKey
0                  30        0
1                  98        1
2                  20        2
3                  55        3
4                  69        4
..                ...      ...
100               103      100
101               100      101
102                 0      102
103               151      103
104               345      104

[105 rows x 2 columns]

In [42]:
fact_table_match = pd.DataFrame()
fact_table_match = df_total
fact_table_match['datum'] = pd.to_datetime(fact_table_match['datum'])
fact_table_match = fact_table_match.merge(dim_date_df,left_on='datum',right_on='FullDate')

dim_time_df['Time'] = dim_time_df['Hour'].astype(str).str.zfill(2) + ':' + dim_time_df['Minute'].astype(str).str.zfill(2)
fact_table_match = fact_table_match.merge(dim_time_df,left_on='tijd',right_on='Time')
dim_time_df.drop(columns='Time')

fact_table_match = fact_table_match.merge(dim_team_df,left_on='thuisploeg_stamnummer',right_on='StamNumber')
fact_table_match.rename(columns={'TeamKey':'HomeTeamKey'})
fact_table_match = fact_table_match.drop(columns=['TeamName','StamNumber'])
fact_table_match = fact_table_match.merge(dim_team_df,left_on='uitploeg_stamnummer',right_on='StamNumber')
fact_table_match.rename(columns={'TeamKey':'AwayTeamKey'})
fact_table_match = fact_table_match.drop(columns=['TeamName','StamNumber'])


fact_table_match = fact_table_match.drop(columns=['datum','thuisploeg','uitploeg','FullDate','Year','Quarter','Month','Day','Hour','Minute','Time'])
fact_table_match

,seizoen,speeldag,tijd,id_match,thuisploeg_stamnummer,uitploeg_stamnummer,doelpunten_thuisploeg,doelpunten_uitploeg,dag,goal_time,real_time_goal,goal_team_naam,goal_team_stamnummer,stand_thuis,stand_uit,DateKey,TimeKey,TeamName,StamNumber,TeamKey
0,2023,1,20:45,4093105,10,35,2,0,1,30,21:15,Union Saint-Gilloise,10,1,0,0,0,Union Saint-Gilloise,10,0
1,2023,1,20:45,4093105,10,35,2,0,1,98,22:23,Union Saint-Gilloise,10,2,0,0,0,Union Saint-Gilloise,10,0
2,2023,11,20:45,4098897,10,4276,4,1,11,27,21:12,Union Saint-Gilloise,10,1,0,31,0,Union Saint-Gilloise,10,0
3,2023,11,20:45,4098897,10,4276,4,1,11,31,21:16,Union Saint-Gilloise,10,2,0,31,0,Union Saint-Gilloise,10,0
4,2023,11,20:45,4098897,10,4276,4,1,11,68,21:53,Union Saint-Gilloise,10,3,0,31,0,Union Saint-Gilloise,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41921,1974,21,19:30,4011763,246,41,1,2,21,10,19:40,KFC Diest,41,0,1,4055,21,Olympic Charleroi,246,51
41922,1974,21,19:30,4011763,246,41,1,2,21,36,20:06,Olympic Charleroi,246,1,1,4055,21,Olympic Charleroi,246,51
41923,1974,21,19:30,4011763,246,41,1,2,21,82,20:52,KFC Diest,41,1,2,4055,21,Olympic Charleroi,246,51
41924,1963,2,15:00,4008938,148,7,2,0,2,60,16:00,KFC Turnhout,148,1,0,4633,17,KFC Turnhout,148,55
41925,1963,2,15:00,4008938,148,7,2,0,2,76,16:16,KFC Turnhout,148,2,0,4633,17,KFC Turnhout,148,55