In [2]:
import pandas as pd;

In [3]:
doelpunten_df = pd.read_csv('./csv/doelpunten_onverwerkd.csv')
klassement_df = pd.read_csv('./csv/klassement_onverwerkd.csv')
wedstrijden_df = pd.read_csv('./csv/wedstrijden_onverwerkd.csv')

In [4]:
df_total = pd.merge(wedstrijden_df,doelpunten_df,on=['id_match','datum','seizoen','tijd','thuisploeg','uitploeg','uitploeg_stamnummer','thuisploeg_stamnummer'],how='left')

In [8]:
rows_home = df_total[['thuisploeg', 'thuisploeg_stamnummer']].rename(columns={'thuisploeg': 'TeamName', 'thuisploeg_stamnummer': 'StamNumber'})
rows_away = df_total[['uitploeg', 'uitploeg_stamnummer']].rename(columns={'uitploeg': 'TeamName', 'uitploeg_stamnummer': 'StamNumber'})

dim_team_df = pd.concat([rows_home,rows_away])
dim_team_df = dim_team_df.drop_duplicates()
dim_team_df = dim_team_df.reset_index(drop=True)
dim_team_df['teamId'] = dim_team_df.index
dim_team_df

                  TeamName  StamNumber  teamId
0     Union Saint-Gilloise          10       0
1                KAS Eupen        4276       1
2           R Charleroi SC          22       2
3            RWD Molenbeek          47       3
4         Royal Antwerp FC           1       4
5                 KAA Gent           7       5
6              Club Brugge           3       6
7        Sint-Truidense VV         373       7
8            Standard Luik          16       8
9                 KRC Genk         322       9
10           Cercle Brugge          12      10
11     Oud-Heverlee Leuven          18      11
12          RSC Anderlecht          35      12
13             KV Mechelen          25      13
14            KVC Westerlo        2024      14
15             KV Kortrijk          19      15
16        SV Zulte Waregem        5381      16
17             KV Oostende          31      17
18             RFC Seraing          17      18
19               Beerschot          13      19
20               Moeskroen         216      20
21        Waasland-Beveren        4068      21
22             KSC Lokeren         282      22
23               Lierse SK          30      23
24               RAEC Mons          44      24
25             KSK Beveren        2300      25
26                Germinal        3530      26
27           KSV Roeselare         134      27
28              AFC Tubize        5632      28
29           FCV Dender EH        3900      29
30      Excelsior Mouscron         224      30
31             FC Brussels        1936      31
32             La Louviere          94      32
33          Heusden-Zolder        2614      33
34         KFC Lommelse SK        1986      34
35         Eendracht Aalst          90      35
36           KRC Harelbeke        1615      36
37  KFC Verbroedering Geel         395      37
38             KSV Waregem        4451      38
39                RFC Luik           4      39
40                 Boom FC          58      40
41         Racing Mechelen          24      41
42      Racing Jet Brussel        4549      42
43           Berchem Sport          28      43
44      Waterschei SV Thor         553      44
45      K. Sint-Niklase SK         221      45
46             Beringen FC         522      46
47            KSK Tongeren          54      47
48             KSC Hasselt          37      48
49          AS Oostende KM          53      49
50               KFC Diest          41      50
51       Olympic Charleroi         246      51
52          RCC Schaerbeek          55      52
53     Daring Club Brussel           2      53
54             RFC Tilleur          21      54
55            KFC Turnhout         148      55
56            Patro Eisden        3434      56
57              Verviétois          33      57

In [10]:
import pandas as pd

dim_standings_df = klassement_df[['speeldag', 'seizoen', 'id_ploeg', 'stand', 'punten', 'aantal_gewonnen', 'aantal_gelijk', 'aantal_verloren', 'verschil']]
temp_df = dim_team_df.copy()
temp_df['ClubID'] = temp_df.index
merged_df = dim_standings_df.merge(temp_df, left_on='id_ploeg', right_on='StamNumber', how='left')

merged_df = merged_df.drop(columns=['id_ploeg','TeamName','StamNumber'])
dim_standings_df = merged_df.rename(columns={'speeldag':'StandingsPlayday','seizoen':'StandingsYear','stand':'Ranking','punten':'Points','aantal_gewonnen':'Wins','aantal_gelijk':'Ties','aantal_verloren':'Losses','verschil':'GoalDifference'})
dim_standings_df['StandingsDayId'] = dim_standings_df.index
dim_standings_df

,StandingsPlayday,StandingsYear,Ranking,Points,Wins,Ties,Losses,GoalDifference,teamId,ClubID,StandingsDayId
0,1,2023,1,3,1,0,0,4,9.0,9.0,0
1,1,2023,2,3,1,0,0,2,0.0,0.0,1
2,1,2023,3,3,1,0,0,1,5.0,5.0,2
3,1,2023,3,3,1,0,0,1,7.0,7.0,3
4,1,2023,3,3,1,0,0,1,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...
35923,30,1960,12,28:32,9,10,11,-16,35.0,35.0,35923
35924,30,1960,13,26:34,6,14,10,-15,51.0,51.0,35924
35925,30,1960,14,23:37,10,3,17,-16,0.0,0.0,35925
35926,30,1960,15,19:41,5,9,16,-24,57.0,57.0,35926
35927,30,1960,16,18:42,6,6,18,-28,56.0,56.0,35927

In [42]:
import pandas as pd


dim_date_df = pd.DataFrame()
dim_date_df['FullDate'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d')
dim_date_df['Year'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.year
dim_date_df['Quarter'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.quarter
dim_date_df['Month'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.month
dim_date_df['Day'] = pd.to_datetime(wedstrijden_df['datum'], format='%Y/%m/%d').dt.day

dim_date_df = dim_date_df.drop_duplicates()
dim_date_df = dim_date_df.reset_index(drop=True)
dim_date_df['DateKey'] = dim_date_df.index
dim_team_df
dim_date_df

        FullDate  Year  Quarter  Month  Day
0     2023-07-28  2023        3      7   28
1     2023-07-29  2023        3      7   29
4     2023-07-30  2023        3      7   30
8     2023-08-04  2023        3      8    4
9     2023-08-05  2023        3      8    5
...          ...   ...      ...    ...  ...
17858 1961-04-09  1961        2      4    9
17866 1961-04-16  1961        2      4   16
17874 1961-04-23  1961        2      4   23
17882 1961-04-30  1961        2      4   30
17890 1961-05-07  1961        2      5    7

[4785 rows x 5 columns]

In [39]:
df_total

,seizoen,speeldag,datum,tijd,id_match,thuisploeg_stamnummer,thuisploeg,uitploeg_stamnummer,uitploeg,doelpunten_thuisploeg,doelpunten_uitploeg,dag,goal_time,real_time_goal,goal_team_naam,goal_team_stamnummer,stand_thuis,stand_uit,valid_goal
0,2023,1,2023/07/28,20:45:00,4093105,10,Union Saint-Gilloise,35,RSC Anderlecht,2,0,1.0,30.0,21:15:00,Union Saint-Gilloise,10.0,1.0,0,True
1,2023,1,2023/07/28,20:45:00,4093105,10,Union Saint-Gilloise,35,RSC Anderlecht,2,0,1.0,98.0,22:23:00,Union Saint-Gilloise,10.0,2.0,0,True
2,2023,1,2023/07/29,16:00:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1.0,20.0,16:20:00,KAS Eupen,4276.0,1.0,0,True
3,2023,1,2023/07/29,16:00:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1.0,55.0,16:55:00,KAS Eupen,4276.0,2.0,0,True
4,2023,1,2023/07/29,16:00:00,4093106,4276,KAS Eupen,2024,KVC Westerlo,2,2,1.0,69.0,17:09:00,KVC Westerlo,2024.0,2.0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49507,1960,30,1961/05/07,15:00:00,4008430,1,Royal Antwerp FC,4,RFC Luik,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49508,1960,30,1961/05/07,15:00:00,4008431,373,Sint-Truidense VV,13,Beerschot,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49509,1960,30,1961/05/07,15:00:00,4008432,3434,Patro Eisden,7,KAA Gent,0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49510,1960,30,1961/05/07,15:00:00,4008433,33,Verviétois,246,Olympic Charleroi,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49511,1960,30,1961/05/07,15:00:00,4008434,10,Union Saint-Gilloise,553,Waterschei SV Thor,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN